.DeviceContent {
    background-color: #2d3436;
    height: calc(100vh - 90px);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.SelectedDevice {
    width: 67vw;
    height: 36em;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.SelectedDeviceName {
    font-family: Poppins, SansSerif, serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    margin: 30px;
}

.DevicePhoto {
    border: 3px solid #bae0bd;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    height: 300px;
    margin: 30px;
}

.OnButton {
    color: white;
}